<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"  href="http://localhost:3000/stylesheets/login.css" type="text/css">

</head>
<body>
  <div class="container ">
    <div class="row">
      <form action='' class="forgot-password" method='post'>
        <h1>Change Password</h1>
        <hr>
          <label>New Password</label>
        	<input class="form-control" type="password" placeholder="Enter New Password" name="password">
          <br/>
            <input type="submit" value="Submit" class="btn btn-light">
      </form>
      </div>
    </div>
</body>
</html>
