<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"  href="http://localhost:3000/stylesheets/login.css" type="text/css">

</head>
<body>
  <div class="container ">
    <div class="row">
      <form action='login' class="login_form" method='post'>
        <h1>Login</h1>
        <hr>
        <p style="color:red;">The username or password is incorrect</p> 
          <label>Username</label>
        	<input class="form-control" type="text" placeholder="Enter Username" name="username">
          <label>Password</label>
        	<input class="form-control" type="password" placeholder="Enter password" name="password">
          <br/>
            <input type="submit" value="LOGIN" class="btn btn-light">
        <a href="forgot-password">Forgot password?</a>
        <br/>
        <p>Not joined yet?<a href="signup">Create an account!</a></p>
      </form>
      </div>
    </div>
</body>
</html>
