<!DOCTYPE html>
    <head>
        <title>Oops, Sorry!</title>
        <style>
            p{
                text-align: center;
                font-size: 50px;
                margin-top:150px;
            }
        </style>
    </head>
    <body>
        <p>The code is 404. <br/>
        The error is 'Page not found'
        </p>
    </body>
</html>