<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"  href="http://localhost:3000/stylesheets/signup.css" type="text/css">

</head>
<body>
  <div class="container ">
    <div class="row">
      <form action='signup' class="signup_form" method='post' enctype="multipart/form-data">
        <h1>Signup</h1>
        <hr>
          <label>Username</label>
        	<input class="form-control" type="text" placeholder="Enter Username" name="username">
          <label>Password</label>
        	<input class="form-control" type="password" placeholder="Enter password" name="password">
          <label>Full Name</label>
        	<input class="form-control" type="text" placeholder="Enter Full Name" name="full_name">
          <label>Email</label>
        	<input class="form-control" type="email" placeholder="Enter Email ID" name="email">
          <label>Profile Picture</label>
        	<input class="form-control" type="file" placeholder="Choose Profile Picture" name="profile_picture">
          <label>Tagline</label>
        	<input class="form-control" type="text" placeholder="Enter Tagline" name="tagline">
          <label>Security Question?</label>
        	<input class="form-control" type="text" placeholder="Enter Security Question" name="security_question">
          <label>Security Answer</label>
        	<input class="form-control" type="text" placeholder="Enter Security Answer" name="security_answer">
          <br/>
            <input type="submit" value="SIGNUP" class="btn btn-light">
      </form>
      </div>
    </div>
</body>
</html>
