@import url('http://localhost:3000/stylesheets/home.css');

body{
    background-image:url("http://localhost:3000/images/landing-page.jpg");
    font-family: 'Indie Flower', cursive;
}
.user-container{
    text-align: center;
    color:whitesmoke;
}
.user-container img{
    border-radius: 50%;
    width:150px;
    height:150px;
    border:2px solid black;
}